/*
    CSS for desktop JMC Barbershop site 
*/
html{
    height:100vh;
}

body{
    /* The image used */
    background-image: url("../img/background.jpeg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    width:100%;
    display: inline-flex;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    background-color:#18191D;
    color: #FE1E4A;
}

a,p,ul,li,tr,td{
    font-family:'Verdana', sans-serif;
    color: white;
}
table{
    width:100%;
}
td{
    width:50%;
    text-align: left;
}
td.right{
    text-align:right;
}
h1{
    font-family: 'Bangers', sans-serif;
    font-size: 130px;
    color: white;
}
h2{
    font-family: 'Bangers', sans-serif;
    font-size: 100px;
    color: white; 
}
h3{
    font-family: 'Bangers', sans-serif;
    font-size: 40px;
    color: white; 
}

.center-text{
    text-align: center;
}

.page-container{
    padding:20px;
    margin:0 auto;
    min-height:100%;
    max-width: 800px;
    background-color:rgba(0, 0, 0, 0.616);
}

a.btn{
    background: #38A0FE; 
    color: #fff; 
    font-family: 'Bangers',sans-serif;
    font-size:30px;
    padding: 8px 12px; 
    border: 0px; 
    -webkit-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    -moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    border-radius: 4px; 
    text-decoration: none; 
    display: inline-block;
    margin: 8px 20px;
}

a.btn-large{
    background: #38A0FE; 
    color: #fff; 
    font-family: 'Bangers',sans-serif;
    font-size:50px;
    padding: 8px 12px; 
    border: 0px; 
    -webkit-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    -moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    border-radius: 4px; 
    text-decoration: none; 
    display: inline-block;
    margin: 8px 20px;
}

.column{
    width:48%;
    padding:2px;
    float: left;
}

.col-3{
    width: 30%;
    margin:1.5%;
    float:left;
}

.spacer{
    height:20px;
}

.flexbox{
    display: inline-flex;
}

.horizontal li{
    float: left;
}

.hours{
    font-size: 10px;
    margin: 5px 10px;
}