@media only screen and (max-width: 550px) {

    .page-container{
        padding: 50px 20px 20px 20px;
        background-color:rgba(0, 0, 0, 0.616);
    }
    h2{
        font-size: 65px;
    }
    .column, .col-3{
        width: 100%;
        float:none;
    }

    footer{
        position: relative;
    }
    
}